html {
  box-sizing: border-box;
  background: #000;
  font-family: Roboto, Arial;
  font-weight: 700;
}

body {
  color: #fff;
}

html *, html *:before, html *:after {
  box-sizing: inherit;
}
.inverted {
   -webkit-filter: invert(1);
   filter: invert(1);
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

main > div {
  width: 100%;
}

p, li, ul { margin: 0; padding: 0; max-width: 100%; }
li { list-style: none; }

/* GENERIC */
.text-right { text-align: right; }

/* BLOCKS */
.block (@x, @y, @w, @h) {
  position: absolute;
  top: @y; left: @x;
  width: @w; height: @h;
}

/* DATETIME */
#time {
  p { background: #f00; }
  .hour-minute { .block(0, 0, 36%, 20%); font-weight: 900; }
  .second { .block(36%, 0, 9%, 13%); }
  .ampm { .block(36%, 13%, 9%, 7%); }
}
#date { .block(0, 20%, 45%, 6%); background: #0f0; }

/* WEATHER */
#weather {
  .current-icon {
    .block(45%, 0, 15%, 26%);

    canvas {
      width: 275%;
      margin: -15% -87% 0;
    }
   }
  .current-temp { .block(60%, 0, 15%, 14%); }
  .rolling-stats { .block(60%, 14%, 40%, 6%); background: #0ff; }
  .rolling-summary { .block(60%, 20%, 40%, 6%); background: #00f; }
}
